main {
  padding: 20px 24px 12px 40px;
}

.add-contact-btn {
  border: 1px solid var(--main-color);
  width: 352px;
  height: 56px;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 10px;
  font-family: inherit;
  cursor: pointer;
  margin: 16px 0px;
  transition:
    background-color 100ms ease-in-out,
    border-color 100ms ease-in-out,
    color 100ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

.icon-add {
  width: 29px;
  height: auto;
}
.add-task-content {
  display: flex;
}

.form-column-left {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.contact-list-wrapper {
  overflow-y: scroll;
  max-height: calc(100vh - var(--header-height) - 120px);
  scrollbar-width: thin;
  background-color: white;
}

.contact-list-wrapper::-webkit-scrollbar {
  width: 10px;
}

.contact-list-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(168, 168, 168);
  border-radius: 10px;
  min-height: 53px;
}
.contact-list-wrapper::-webkit-scrollbar-button:single-button:vertical:decrement {
  display: block;
  height: 16px;
  color: rgb(168, 168, 168);
  background-color: white;
  background-image: url(../assets/scroll-button-up.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

.contact-list-wrapper::-webkit-scrollbar-button:single-button:vertical:increment {
  display: block;
  height: 16px;
  color: rgb(168, 168, 168);
  background-color: white;
  background-image: url(../assets/scroll-button-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

.group-letter {
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 0 34px 33px;
  margin-bottom: 17px;
}

.contact-item {
  display: flex;
  gap: 35px;
  padding: 0 0 30px 24px;
}

.contact-avatar {
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border: 2px solid rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contact-name {
  font-size: 20px;
  font-weight: 400;
}

.contact-email,
.contact-email:visited {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 124, 238, 1);
}

.form-column-right {
  padding: 109px 0 0 80px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  text-wrap-mode: nowrap;
}

.title p {
  font-size: 27px;
  font-weight: 400;
  position: relative;
  top: 5px;
}

h1 {
  font-size: 61px;
  font-weight: 700;
  border-right: 3px solid rgba(41, 171, 226, 1);
  padding-right: 30px;
}
