:root {
  --main-color: rgb(42, 54, 71);
  --accent-color:rgba(18, 70, 88, 1);
  --hover-bg-color: rgb(10, 25, 49);
  --hover-bg-color-lightblue: rgb(17, 70, 88);
  --hover-menu: rgba(42, 61, 89, 1);
  --hover-primary-button: rgb(18,70,88);
  --hover-secondary-button:rgb(41,171,226);
  --hover-bg-color-grey: #eeeeee;
  --navbar-color: #e7e7e7;
  --active-btn-border: rgb(9, 25, 49);
  --sidebar-width: 220px;
  --logo-size: 64px;
  --header-height: 80px;
  --logo-zone-height: 180px;
  --shadow: 0 4px 4px 0px rgba(82, 82, 82, 0.4);
  --box-shadow-default: 0 0 4px 0px rgba(82, 82, 82, 0.4);
  --default-font: "Inter", sans-serif;
  --second-font: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100dvh;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar main";
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  background-color: rgb(246, 247, 248);
}

body:has(dialog[open]) {
    overflow: hidden;
}

h1 {
font-size: 3.75rem;
font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 500;
}

h5 {
  font-size: 1.75rem;
  font-weight: 400;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

nav {
  min-height: var(--header-height);
  top: 0;
  position: sticky;
  z-index: 10;
  grid-area: navbar;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 96px;
  border-width: 0;
  box-shadow: 0 0 4px 4px rgba(110, 107, 107, 0.3);
}

nav p {
  font-size: 1.25rem;
  font-weight: 400;
}

.nav-mobile {
  display: none;
}

.nav-mobile-logo-wrapper {
  width: 32px;
}

.nav-mobile-logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.horizontal-navbar-elements {
  display: flex;
  align-items: center;
  gap: 20px;
}

.horizontal-navbar-elements button {
  background: none;
  border: none;
  cursor: pointer;
}

.questions-image:hover {
  transform: scale(1.2);
}

.initials-ellipse:hover {
  fill: rgb(226, 230, 236);
}

.aside-blue-box-bg {
  grid-area: sidebar;
  background-color: var(--main-color);
  width: var(--sidebar-width);
}

aside {
  min-height: 100dvh;
  width: var(--sidebar-width);
  top: 0;
  padding: 64px 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside a {
  color: var(--navbar-color);
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

aside li {
  list-style-type: none;
}

.nav-element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}

.nav-element svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.nav-element a {
  width: 80px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.nav-links li {
  width: 100%;
}

.nav-links li:hover {
  background-color: var(--hover-menu);
}

.legal-and-policy li:hover a {
  color: var(--hover-primary-button);
}

.nav-links li:hover a {
  color: white;
}

.nav-links li:hover svg path {
  fill: white;
}

.logo-and-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 92px;
}

.legal-and-policy {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-self: center;
}

.legal-and-policy li {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.legal-and-policy li a {
  display: inline-block;
  text-align: left;
  width: 110px;
}

main {
  grid-area: main;
  min-width: 0;
  max-width: calc(1440px - var(--sidebar-width));
  min-height: 0;
  height: 100%;
  container-type: inline-size;
  overflow: visible;
}

.nav-footer-mobile {
  display: none;
}

/*-------------------->MEDIA QUERIES-----------------------------------------------------------*/

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .nav-mobile {
    grid-area: nav-footer;
    min-height: var(--header-height);
    top: 0;
    position: sticky;
    z-index: 10;
    grid-area: navbar-mobile;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 20px;
    border-width: 0;
    box-shadow: 0 0 4px 4px rgba(110, 107, 107, 0.3);
    width: 100%;
  }

  .profile-initials-btn {
    border: inherit;
    background-color: transparent;
  }

  .profile-initials-btn svg {
    width: 40px;
    height: 40px;
  }

  aside {
    display: none;
  }

  .aside-blue-box-bg {
    display: none;
  }

  body {
    height: 100dvh;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: var(--header-height) 1fr var(--header-height);
    grid-template-areas: "navbar-mobile" "main" "nav-footer";
  }

  .nav-footer-mobile .nav-element {
    width: auto;
    padding: 8px 4px;
  }

  .nav-element a {
    width: auto;
  }

  .nav-footer-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
  }

  .mobile-nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 428px;
    padding: 0 16px;
  }

  .mobile-nav-btns button {
    width: 76px;
    height: 76px;
    border-style: unset;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
  }

  .mobile-nav-btns button:hover {
    background-color: var(--hover-menu);
  }

  .mobile-design {
    flex-direction: column;
    text-align: center;
  }

  .mobile-design a {
    text-decoration: none;
    font-family: var(--second-font);
    font-size: 16px;
    color: var(--navbar-color);
  }

  .nav-element {
    padding: min(4px, 2vw);
  }
}

@media (max-width: 428px) {
  .mobile-nav-btns {
    padding: 0;
  }
}
