dialog {
    width: 1212px;
    height: 592px;
    border-radius: 30px;
    border-style: inherit;
    transition: all 125ms ease-in-out;  
}

dialog:modal {
    margin: auto;
}

button {
    box-sizing: border-box;
}

.dialog-grid-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 468px 744px;
    grid-template-areas: "aside" "form";
}

.dialog-aside {
    grid-area: aside;
    background-color: var(--main-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
}

.headlines-and-separator {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
}

.add-contact-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-side-add-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 100%;
}

.add-contact-form {
    display: flex;
    flex-direction: column;
    width: 422px;
    gap: 32px;
}

.add-contact-form:hover {
    cursor: pointer;
}

.initials-and-form-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.close-dialog-btn {
    border-style: inherit;
    border-radius: 50%;
    background-color: transparent;
}

.close-dialog-btn:hover {
    cursor: pointer;
    background-color: var(--hover-bg-color-grey);
}

.close-dialog-btn svg:active path {
    fill: white;
}


.close-dialog-wrapper {
    position: absolute;
    top: 32px;
    right: 32px;
}

.profile-initials-btn {
    width: 120px;
}

.profile-initials-btn img {
    width: 120px;
    object-fit: cover;
}

.contact-form-btn {
    gap: 4px;
    padding: 16px;
    border-radius: 10px;
}

.create-contact-btn {
    background-color: var(--main-color);
    border: inherit;
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.create-contact-btn:hover {
    background-color: var(--hover-bg-color-lightblue);
    box-shadow: var(--shadow);
    cursor: pointer;
}

.create-contact-btn:active {
    background-color: var(--active-btn-border);
}

.cancel-btn {
    background-color: white;
    border: 1px var(--main-color) solid;
    box-sizing: border-box;
    width: 126px;
    height: 56px;
}

.cancel-btn:hover {
    cursor: pointer;
    border: 2px var(--hover-bg-color-lightblue) solid;
    box-shadow: var(--shadow); 
    transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.cancel-btn:active {
    border: 1px var(--active-btn-border) solid;
}

.cancel-btn p {
    color: var(--main-color);
    font-family: var(--default-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}

.create-contact-btn p {
    color: white;
    font-family: var(--default-font);
    font-size: 21px;
    font-weight: 700;
    line-height: 1.2;
}

.contact-form-btn {
    display: flex;
    align-items: center;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #6B6B6BB6;
    border-radius: 10px;
    padding: 0 12px;
    height: 50px;
    
}

.input-wrapper input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 20px;
    font-family: var(--default-font);
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
}

.form-input-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form-btn-wrapper {
    display: flex;
    gap: 24px;
}

.logo-wrapper {
     width: 100%;
}

.dialog-aside img {
    height: 66px;
    width: 56px;
    object-fit: fill;
}

.dialog-aside h1 {
    font-size: 60px;
    font-family: var(--default-font);
    font-weight: 700;
}

.dialog-aside h2 {
    font-size: 28px;
    font-family: var(--default-font);
    font-weight: 400;
}

.blue-horizontal-separator {
    height: 3px;
    width: 90px;
    background-color: rgb(40,171,226);
    border-radius: 30px;
}

.toast-wrapper {
    color: var(--main-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
    z-index: 1000;
}

.toast-wrapper.show {
    opacity: 1;
}
