:root {
    --main-color: rgb(42,54,71);
    --accent-color: #124658;
    --hover-bg-color: rgb(10,25,49);
    --hover-bg-color-lightblue: rgb(17,70,88);
    --hover-bg-color-grey: #EEEEEE;
    --navbar-color: #E7E7E7;
    --active-btn-border: rgb(9,25,49);
    --sidebar-width: 220px;
    --logo-size: 64px;
    --header-height: 80px;
    --logo-zone-height: 180px;
    --shadow: 0 4px 4px 0px rgba(82, 82, 82, 0.4);
    --default-font: 'Inter', sans-serif;
    --second-font : 'Open Sans', sans-serif;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    height: 100vh;
    min-height: auto;
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-areas: 
    "sidebar navbar" 
    "sidebar main";
    font-family: 'Inter', sans-serif;
    background-color: rgb(246,247,248);
}

nav {
    min-height: var(--header-height);
    top: 0;
    position: sticky;
    z-index: 10;
    grid-area: navbar;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px 12px 40px;
    border-width: 0;
    box-shadow: 0 0 4px 4px rgba(110, 107, 107, 0.3);
}

.nav-mobile {
    display: none;
}

.nav-mobile-logo-wrapper {
    width: 32px;
}

.nav-mobile-logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.horizontal-navbar-elements {
    display: flex;
    align-items: center;
    gap: 20px;
}

.horizontal-navbar-elements button {
    background: none;
    border: none;
    cursor: pointer;
}

.initials-ellipse:hover {
    fill: rgb(226,230,236);
}

.aside-blue-box-bg {
    grid-area: sidebar;
    background-color:var(--main-color);
    width: var(--sidebar-width);
}

aside {
    min-height: 100dvh;
    width: var(--sidebar-width);
    top: 0;
    padding: 64px 0;
    position: sticky;
    grid-area: navbar;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside a {
    color: var(--navbar-color);
    text-decoration: none;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

aside li {
     list-style-type: none;
}

.nav-element {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.nav-element svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.nav-element a {
    width: 80px;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.nav-links li {
    width: 100%;
}

.nav-links li:hover, .legal-and-policy li:hover {
    background-color: var(--hover-bg-color);
}

.nav-links li:hover a {
    color: white;
}

.nav-links li:hover svg path {
    fill: white;
}

.logo-and-nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 92px;
}

.legal-and-policy {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: end;
    justify-self: center;
}

.legal-and-policy li {
    padding: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.legal-and-policy li a {
    display: inline-block;
    text-align: left;
    width: 110px;

}

main {
    padding: 20px 20px 12px 40px;
    grid-area: main;
    width: 100%;
    max-width: calc(1440px - var(--sidebar-width));
    margin-inline: auto;
    min-height: 0;
    height: 100%;
    container-type: inline-size;
    overflow-y: auto;
}

 .nav-footer-mobile {
    display: none;
    }

/*-------------------->MEDIA QUERIES-----------------------------------------------------------*/

@media (max-width: 768px) {
    nav {
        display: none;
    }

    .nav-mobile {
    min-height: var(--header-height);
    top: 0;
    position: sticky;
    z-index: 10;
    grid-area: navbar-mobile;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px 16px 20px;
    border-width: 0;
    box-shadow: 0 0 4px 4px rgba(110, 107, 107, 0.3);
    }
    
    .profile-initials-btn {
        
        border: inherit;
        background-color: transparent;
    }

    .profile-initials-btn svg {
        width: 40px;
        height: 40px;   
    }

    aside {
        display: none;   
    }

    .aside-blue-box-bg {
        display: none;
    }

    body {
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) 1fr var(--header-height);
        grid-template-areas: "navbar-mobile" "main" "nav-footer";
    }

    .nav-footer-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main-color);
    }

    .mobile-nav-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 428px;
    margin-inline: auto;
    padding: 0 16px;
    }

    .nav-footer-mobile button {
        border-style: inherit;
        background-color: transparent;
        border-radius: 8px;
        cursor: pointer;
    }

    .nav-footer-mobile button:hover {
    background-color: var(--hover-bg-color);
    }

    .mobile-design {
        flex-direction: column;
        text-align: center;
    }

    .mobile-design a {
        text-decoration: none;
        font-family: var(--second-font);
        font-weight: 400;
        font-size: 16px;
        color: var(--navbar-color);

    }
}