:root {
  --main-color: rgb(42, 54, 71);
  --hover-bg-color: rgb(10, 25, 49);
  --header-height: 80px;
  --logo-zone-height: 180px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows:
    var(--header-height) calc(var(--logo-zone-height) - var(--header-height))
    1fr;
  grid-template-areas:
    "sidebar navbar"
    "sidebar gap"
    "sidebar main";
  font-family: "Inter", sans-serif;
  line-height: 120%;
}

nav {
  min-height: var(--header-height);
  top: 0;
  position: sticky;
  z-index: 10;
  grid-area: navbar;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px 12px 40px;
  border-width: 0;
  box-shadow: 0 0 4px 4px rgba(110, 107, 107, 0.3);
}

.horizontal-navbar-elements {
  display: flex;
  align-items: center;
  gap: 20px;
}

.horizontal-navbar-elements button {
  background: none;
  border: none;
  cursor: pointer;
}

.initials-ellipse:hover {
  fill: rgb(226, 230, 236);
}

.aside-blue-box-bg {
  grid-area: sidebar;
  background-color: var(--main-color);
  width: 220px;
}

aside {
  min-height: 100dvh;
  width: 220px;
  top: 0;
  padding: 48px 0;
  position: sticky;
  display: grid;
  grid-template-rows: var(--logo-zone-height) 2fr 1fr;
  grid-template-areas:
    "logo"
    "nav"
    "legal";
}

aside a {
  color: rgb(205, 205, 205);
  text-decoration: none;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

aside li {
  list-style-type: none;
}

.nav-element {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
}

.nav-element svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.nav-element a {
  width: 80px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  grid-area: nav;
}

.nav-links li {
  width: 100%;
}

.nav-links li:hover,
.legal-and-policy li:hover {
  background-color: var(--hover-bg-color);
}

.nav-links li:hover a {
  color: white;
}

.nav-links li:hover svg path {
  fill: white;
}

.logo-wrapper {
  align-self: start;
  justify-self: center;
  grid-area: logo;
}

.legal-and-policy {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: end;
  justify-self: center;
  padding: 20px 0 20px 0;
  grid-area: legal;
}

.legal-and-policy li {
  padding: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.legal-and-policy li a {
  display: inline-block;
  text-align: left;
  width: 110px;
}

main {
  grid-area: main;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px 20px 12px 40px;
}
