:root {
    --default-font: 'Inter', sans-serif;
    --shadow: 0 4px 4px 0px rgba(82, 82, 82, 0.4);
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    min-height: 0;
    padding: 48px 96px 12px 96px;
}

.summary-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 0 30px 0;
    gap: 12px;
    grid-column: 1 / -1;
    grid-row: 1;
}

h1 {
    font-size: 60px;
    font-family: var(--default-font);
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-family: var(--default-font);
    font-weight: 400;
    color: #2A3647;
}

.task-normal {
    font-size: 20px;
    font-family: var(--default-font);
    font-weight: 400;
    color: #2A3647;
    line-height: 1.2;
}

.normal-text {
    font-size: 16px;
    font-family: var(--default-font);
    font-weight: 400;
    line-height: 1.2;
}

.amount-bold {
    font-weight: 600;
    font-family: var(--default-font);
    font-size: 64px;
}

.date {
    font-size: 20px;
    font-family: var(--default-font);
    font-weight: 700;
}

.blue-seperator {
    background-color:#29ABE2;
    height: 65px;
    width: 3px;
}

.grey-seperator {
    background-color: #D1D1D1;
    height: 102px;
    width: 2px;
}

.grey-boxes-task {
    border: unset;
    border-radius: 30px;
    box-shadow: 0 0 4px 0px rgba(82, 82, 82, 0.4);
    background-color: white;
    padding: 38px 58px;
}

.grey-boxes-task:hover {
    box-shadow: var(--shadow);
    transform: scale(1.03);
    cursor: pointer;
    background-color: rgb(42,54,71);
    color: white;
}

.grey-boxes-task:hover p {
    color: white;
}

.grey-boxes-task:hover .task-icon-to-do circle {
    fill: white;
}

.grey-boxes-task:hover .task-icon-to-do path {
    fill:  rgb(42,54,71);
}

.grey-boxes-task:hover .task-icon-done circle {
    fill: white;
}

.grey-boxes-task:hover .task-icon-done path {
    stroke: rgb(42,54,71);
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.task-name-and-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
}

.task-boxes-and-welcome-message-wrapper {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 560px 1fr;
    height: 100%;
    row-gap: 28px;
    column-gap: 80px;
}

.task-boxes {
    display: grid;
    grid-column: 1;
    grid-row: 2/ span 3;
    grid-template-rows: subgrid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas: "to-do to-do to-do done done done"
                         "urgent urgent urgent urgent urgent urgent"
                         "tasks-in-board tasks-in-board tasks-in-progress tasks-in-progress feedback feedback";
    gap: 28px;
}

.welcome-message {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
}

#to-do { 
    grid-area: to-do;
}

#done { 
    grid-area: done; 
}

#urgent-and-calendar { 
    grid-area: urgent; 
}

#tasks-in-board {
    grid-area: tasks-in-board; 
}

#tasks-in-progress { 
    grid-area: tasks-in-progress; 
}

#awaiting-feedback { 
    grid-area: feedback; 
}

.urgent-and-calendar {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: space-between;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.urgent-and-seperator {
    display: flex;
    align-items: center;
    gap: 36px;
}

.daytime {
    font-family: var(--default-font);
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
}

.name {
    font-family: var(--default-font);
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2;
    color: #124658;
}


/*-------------------->MEDIA QUERIES-----------------------------------------------------------*/

@media(max-width: 1440px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 26px;
    }

    .blue-seperator {
        height: 52px;
    }

    .task-boxes {
        width: auto;
    }
   
    .summary {
        padding: 24px 64px 12px 64px;
    }

    .task-boxes-and-welcome-message-wrapper { 
        gap: 48px;
    }

    .amount-bold {
        font-size: 48px;
    }

    .daytime {
        font-size: 36px;
    }

    .name {
        font-size: 48px;
    }
}